aioredis==2.0.1
alembic==1.11.2
amqp==5.1.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
asyncpg==0.28.0
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
distlib==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastapi==0.101.0
filelock==3.12.2
flake8==6.0.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
identify==2.5.27
idna==3.4
iniconfig==2.0.0
isort==5.12.0
kombu==5.3.2
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
nodeenv==1.8.0
openpyxl==3.1.2
packaging==23.1
platformdirs==3.10.0
pluggy==1.2.0
pre-commit==3.3.3
pre-commit-hooks==4.2.0
prompt-toolkit==3.0.39
pycodestyle==2.10.0
pydantic==2.1.1
pydantic_core==2.4.0
pyflakes==3.0.1
pytest==7.4.0
pytest-asyncio==0.21.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pyupgrade==2.31.1
PyYAML==6.0.1
redis==5.0.0
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.19
starlette==0.27.0
tokenize-rt==5.2.0
toml==0.10.2
tomli==2.0.1
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
vine==5.0.0
virtualenv==20.24.3
wcwidth==0.2.6
